body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 50px;
}

h1, h {font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 250px; /* Make all buttons the same width */
    margin-bottom: 15px;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}

#head {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}
