body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

label {
    font-size: 1.2em;
    color: #333;
}

input[type="text"] {
    padding: 10px;
    width: 250px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px 0;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    background-color: #e0f7fa;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

